
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hover-slider-nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, .2);
    z-index: 5;
}

.hover-slider-nav__item {
    padding: 2vh;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: 1.7s;
}

.hover-slider-nav__item--active {
    color: rgba(255, 255, 255, .4);
}

.hover-slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #000;
    overflow: hidden;
}

.hover-slider__item {
    position: absolute;
    top: -2vh;
    left: -2vw;
    width: 104vw;
    height: 104vh;
    opacity: 0;
    transition: 1.7s linear;
    transform: translateY(-2vh);
}

.hover-slider__item--active {
    opacity: 1;
    transform: translateY(0);
}

.bg-gif {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}
